In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv('JoeBidenTweets.csv')
df.head()

,id,timestamp,url,tweet,replies,retweets,quotes,likes
0,1320716067111653378,2020-10-26 13:17,https://twitter.com/JoeBiden/status/1320716067...,This is the most important election of our lif...,1688,2783,289,20898
1,1320516150988451841,2020-10-26 00:02,https://twitter.com/JoeBiden/status/1320516150...,"Folks, the I Will Vote concert is finally here...",4497,3686,489,18406
2,1320507935756328960,2020-10-25 23:30,https://twitter.com/JoeBiden/status/1320507935...,It's clear Donald Trump will stop at nothing t...,4474,6540,738,34027
3,1320500637352693761,2020-10-25 23:01,https://twitter.com/JoeBiden/status/1320500637...,I will never give up on the American people. h...,3706,12398,1425,56596
4,1320485537782878208,2020-10-25 22:01,https://twitter.com/JoeBiden/status/1320485537...,Jacquelyn — I was honored to meet you in Decem...,2108,4218,520,29385

In [3]:
import nltk
import re
import string
from string import punctuation
from nltk.corpus import stopwords
def remove_punc(text):
    text=text.lower()
    text=re.sub('\[.*?\]','',text)
    text=re.sub('https?://\S+|www\.\S+', '', text)
    text=re.sub('[%s]' %re.escape(string.punctuation),'',text)
    text = re.sub('\n', '', text)
    text = re.sub('\w*\d\w*', '', text)
    return text

In [4]:
remove_punc('csjck sdjdwld/sakcsmclskk.ijk&')

'csjck sdjdwldsakcsmclskkijk'

In [5]:
def punctuationn_stopwords(gtext):
    removed=[ch for ch in gtext if ch not in punctuation]
    joining="".join(removed).split()
    final=[ch.lower() for ch in joining if ch not in stopwords.words('english')]
    return final

In [13]:
df['tweet']=df['tweet'].apply(lambda x:remove_punc(x))
#df['tweet']=df['tweet'].apply(lambda x:punctuationn_stopwords(x))

In [ ]:
df.drop(['url','id'],axis=1,inplce=True)

In [28]:
import matplotlib.pyplot as plt
from collections import Counter
def common_terms(df):
    word_list=[]
    for i,j in df.iterrows():
        for word in j['tweet']:
            word_list.append(word)
    count=Counter(word_list)
    most_common=pd.DataFrame(count.most_common(9),columns=['word','count'])
    
    return most_common

In [29]:
common_terms(df)

  word   count
0       170786
1    e   96271
2    t   72897
3    a   64661
4    o   63216
5    i   58091
6    n   56973
7    r   50697
8    s   47257

In [31]:
df['tweet']

0       this is the most important election of our lif...
1       folks the i will vote concert is finally here ...
2       its clear donald trump will stop at nothing to...
3            i will never give up on the american people
4       jacquelyn — i was honored to meet you in decem...
                              ...
5930    news for you this morning vp biden will speak ...
5931    campaign staff will run this account to keep y...
5932    were excited to announce that joebiden is bein...
5933    iowans theres a good chance theres a biden nea...
5934    tune in  et tomorrow for a live webcast of fam...
Name: tweet, Length: 5935, dtype: object

In [36]:
for i,j in df.iterrows():
    for  word in j['tweet']:
        print(word)

t

TypeError: 'NoneType' object is not subscriptable